/*
* Made by Kevin López
*/

:root {
  --background-0: black;
  --text-1: green;
  --text-2: orange;
  --text-3: skyblue;
  --text-4: blue;
  --text-5: white;
  --text-6: var(--text-5);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Google Sans", sans-serif, system-ui;
  overflow: hidden;
  background: var(--background-0);
  color: var(--text-1);
}

svg {
  width: 80vmin;
  overflow: visible;
}

path {
  opacity: 0.1;
}

.dg :is(.cr.string, .cr.number) input[type="text"] {
  color: white;
  line-height: 1;
}

svg,
svg > * {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
      transform-origin: center;
-webkit-animation-name: spinning;
      animation-name: spinning;
-webkit-animation-duration: 600s;
      animation-duration: 300s;
-webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
      animation-timing-function: linear;
}

text {
  /* -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: spinning;
          animation-name: spinning;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; */
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

#text-1 {
  fill: var(--text-1);
}
#text-2 {
  fill: var(--text-2);
}
#text-3 {
  fill: var(--text-3);
}
#text-4 {
  fill: var(--text-4);
}
#text-5 {
  fill: var(--text-5);
}
#text-6 {
  fill: var(--text-6);
}

.text-center {
  text-align: center;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}
h5 {
  text-align: center;
  color: grey;
}

.chrome-only {
  display: none;
}
.mobile-safari-only {
  display: none;
}
.safari-only {
  display: none;
}

/*@supports(-webkit-tap-highlight-color: black) {*/
/*  !* Matches Edge 12 - latest (92) *!*/
/*  !* Matches Chrome 16 - latest (95) *!*/
/*  !* Matches Opera 15 - latest (78) *!*/

/*  !* does not match Safari *!*/
/*  !* does not match Firefox *!*/
/*  .chrome-only {*/
/*    display: inline;*/
/*  }*/
/*  .safari-only {*/
/*    display: none;*/
/*  }*/
/*}*/
